[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = "*"
torchvision = "*"
torchviz = "*"
graphviz = "*"
tqdm = "*"
pandas = "*"
matplotlib = "*"
wandb = "*"
plotly = "*"
cycler = "*"

[requires]
python_version = "3.6"
